// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.stars {
  display: inline-block;
}

.rating-star {
  height: 32px;
}

.top-content {
  display: flex;
  justify-content: space-between;
  margin-top: 41px;
  padding-right: 13px;
}

.review-row {
  span {
    display: inline-block;
    vertical-align: top;
    padding-top: 7px;
    padding-left: 21px;
    color: #777;
    overflow-x: hidden;
    white-space: nowrap;
    max-width: 836px;
    text-overflow: ellipsis;
    b {
      color: black;
    }
  }
}

.average-rating {
  span {
    display: inline-block;
    width: 90px;
    vertical-align: top;
    font-size: 36px;
  }
  .stars {
    padding-top: 3px;
  }
}

hr {
  margin: 50px 13px;
  color: #eee;
}

.reviews {
  span {
    color: #777;
  }
}

.rating-modal {
  .stars {
    transform: translateX(-10px);
  }
  textarea {
    border: none;
    resize: none;
    outline: none;
    width: 100%;
  }
  .error {
    visibility: hidden;
    font-size: smaller;
    font-weight: bold;
    color: crimson;
    transform: translateY(-9px);
  }
}
